/data
/docker
/downloads
/youtube
/test
README.md
.git/
push_gitea.bat
.env
.venv/
venv/
env/
.env/
.env
.releaserc.json
node_modules/
.github/
.gitea/
.vscode/
package-lock.json
package.json
build.sh
CHANGELOG.md
.gitignore