push_gitea.bat
push_github.bat
push.bat
test/
data/
downloads/
youtube/
.venv/
venv/
env/
.env/
.vscode/
vscode/
.github
cache/
data/

# node deps
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
__pycache__