<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Tubarr - Playlists</title>
</head>

<body>
    <div class="container flex flex-col gap-4">

        <!-- Navigation -->
        <div class="container">
            <a href="/" class="nav-link">Home</a>
            <a href="/jobs" class="nav-link">Jobs</a>
            <a href="/settings" class="nav-link">Settings</a>
            <a href="/channels" class="nav-link">Channels</a>
            <a href="/playlists" class="nav-link">Playlists</a>
            <a href="/createPlaylists" class="nav-link">Playlist Creator</a>
        </div>

        <!-- Header -->
        <div>
            <h1 class="text-2xl">Current Channel Names</h1>
            <p class="text-sm text-muted">
                List of Current Folders Created
            </p>
        </div>
        <div id="root">

        </div>

    </div>

    <script src="{{ url_for('static', filename='js/channel_names.js') }}"></script>
</body>

</html>