<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Tubarr</title>
</head>

<body>
    <div class="container">
        <a href="/jobs" class="nav-link">Jobs</a>
        <a href="/channels" class="nav-link">Channels</a>
        <div class="flex justify-between items-center mb-4 mt-4">
            <h1 class="text-xl">Tubarr</h1>
            <input type="text" placeholder="Download URL" class="input" style="width: 30%;" id="download-url">
            <button class="btn" onclick="download()">Download</button>
        </div>

        <div id="video-grid" class="grid grid-4 gap-3"></div>
    </div>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>

</html>